ol, ul, li, p, div, h1, h2, h3, h4, h5, h6, header, section, article, aside, footer {
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body {
  color: #333;
}

small {
  color: #777;
}

a, a:hover {
  color: inherit;
}

.act {
  color: #06f;
}

.slide-wrapper .stage {
  overflow: hidden;
}
.slide-wrapper .stage .slide-wrap {
  position: relative;
  display: flex;
}
.slide-wrapper .stage .slide-wrap .slide {
  flex: 25% 0 0;
}

.flex-wrap2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-wrapper {
  font-size: 1.25em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 2rem auto;
  border: 1px solid #ccc;
}
.view-wrapper .img-wrap {
  flex: 40% 0 0;
  padding-right: 2rem;
}
.view-wrapper .cont-wrap {
  flex: 60% 0 0;
}
.view-wrapper .cont-wrap .list {
  display: flex;
  border-bottom: 1px solid #ccc;
}
.view-wrapper .cont-wrap .list .title {
  flex: 20% 0 0;
  font-weight: bold;
  padding: 1em;
}
.view-wrapper .cont-wrap .list .content {
  flex: 80% 0 0;
  padding: 1em;
}
.view-wrapper .detail-wrap {
  flex: 100% 0 0;
  margin-top: 1rem;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #f8f8f8;
}
header.header .logo {
  padding: 0.75em 1em;
}
header.header .navi-wrap {
  display: flex;
}
header.header .navi-wrap .navi {
  padding: 0.75em 1em;
}

.titlebar {
  margin: 1em auto;
}