extends ../layout/layout-book.pug
block content
	form(method="post" action="/book/save")
		ul.send-wrapper
			li.list
				.title 제목
				.content
					input.form-control(type="text" name="title" placeholder="도서 제목을 입력하세요.")
			li.list
				.title 저자
				.content
					input.form-control(type="text" name="writer" placeholder="도서 저자를 입력하세요.")
			li.list
				.title 간추린 내용
				.content
					textarea.form-control(name="content" placeholder="도서 내용을 입력하세요.")
		.text-center.my-3
			button.btn.btn-primary 등록
			button.btn.btn-danger(type="reset") 다시작성