extends ../layout/layout-book.pug
block content
	table.my-3.table.table-hover.table-bordered.text-center
		thead.thead-dark
			tr
				th 번호
				th 제목
				th 저자
				th 내용
		tbody
			each v in lists
				tr
					td= v.id
					td.text-left
						a(href=`/book/view/${v.id}`)= v.title
					td= v.writer
					td.text-left= v.content