extends ../layout/layout-board.pug
block content
	.view-wrapper
		.img-wrap
			img.w-100(src=`${book.src}`)
		ul.cont-wrap
			li.list
				.title 제목
				.content= book.title
			li.list
				.title 저자
				.content= book.writer
		.detail-wrap= book.content
	.bt-wrapper.py-3.text-center
		button.btn.btn-primary(onclick="location.href='/list';") 리스트