doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title= title.head
		link(rel="stylesheet" href="/css/all.min.css")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/index.css")
	body
		.wrapper.container
			.title.jumbotron
				h1= title.body
					hr
					small.pl-3= title.small
			block content